<div class="col-lg-4 col-md-12 footer-newsletter">
    <h4>Our Newsletter</h4>
    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
    <form asp-controller="Subscribe" asp-action="SaveEmail">
        
        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
    </form>
</div>

